
<div class="container">
        <div class="row">
          <div class="col-12">
            <p class="title">{{title}}</p>
            <hr>
          
            
            <div class="container1">
              <form >
                  <div class="row">
                    <div class="col-25">
                        ชื่อหนังสือ <span>*</span> : 
                    </div>
                    <div class="col-75">
                      <input type="text" id="name" name="name" placeholder="ชื่อหนังสือ.."  >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                        ชื่อผู้แต่ง <span>*</span> :
                    </div>
                    <div class="col-75">
                      <input type="text" id="author" name="author" placeholder="ชื่อผู้แต่ง.."  >
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-25">
                          ราคา <span>*</span> : 
                      </div>
                      <div class="col-75">
                        <input type="text" id="price" name="price" placeholder="ราคา.."  >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                          แนะนำ <span>*</span> : 
                        </div>
                        <div class="col-75">
                          <input type="text" id="is_recommended" name="is_recommended" placeholder="แนะนำ.."  >
                        </div>
                      </div>
             
                  <div class="row">
                    <input type="submit" value="บันทึก" >
                    <input type="reset" value="ล้าง">
                  </div>
              </form>
              </div>

          </div>
        </div>
      </div>