.title{
    padding: 20px;
    margin-left: 50px;
    margin-top: 50px;
    font: 26px sans-serif;
}

button{
    margin-right: 5px;
    font: 16px sans-serif;
}

table{
    font: 16px sans-serif;
}

h3{
    margin-top: 20px;
}