
<div class="container">
    <div class="row">
      <div class="col-12">
        <p class="title">{{title}}</p>
        <hr>
        <button type="button" class="btn btn-success float-right" [routerLink]="['/addBook']" routerLinkActive="router-link-active"    >
            เพิ่มหนังสือ
        </button>
        <button type="button" class="btn btn-primary float-right" >
            ซื้อหนังสือ
        </button>
                 
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>[]</th>
                  <th>ชื่อผู้แต่ง</th>
                  <th>ราคา</th>
                  <th>แนะนำ</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let book of books" [class.warning]="id == book.id">
                  <td><input type="checkbox" id="myCheck"></td>
                  <td>{{book.nane}}</td>
                  <td>{{book.author}}</td>
                  <td>{{book.price}}</td>
                  <td><a (click)="onEdit(book)" >แก้ไข</a></td>
                </tr>

                    
             <!-- <tr >
                  <td><input type="checkbox" id="myCheck"></td>
                  <td> aaa</td>
                  <td>aaa</td>
                  <td>aaaa</td>
                  <td><a [routerLink]="['/updateBook']" routerLinkActive="router-link-active" >แก้ไข</a></td>
                </tr> -->   
              
              </tbody>
            </table>
         
         <h3 class="float-right">  รวมทั้งหมด  เล่ม</h3> 
      </div>
    </div>
  </div>