.title{
    padding: 20px;
    margin-left: 50px;
    margin-top: 50px;
    font: 26px sans-serif;
}

span{
    color: red;
}

.row{
    font: 18px sans-serif;
    
}

button{
    margin-right: 5px;
    font: 16px sans-serif;
}

* {
    box-sizing: border-box;
  }

  
  input[type=submit] {
    background-color: #4CAF50;
    color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 500px;

  }
  input[type=reset] {
    background-color:yellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  input[type=reset]:hover {
    background-color: goldenrod;
  }
  
  .container1 {
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 20px;
    align-items: center;
  }
  
  .col-25 {
    float: right;
    width: 25%;
    margin-top: 6px;
    text-align: right;
  }
  
  .col-75 {
    float: left;
    width: 70%;
    margin-top: 6px;
    margin-left: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }