
<div class="container">
        <div class="row">
          <div class="col-12">
            <p class="title">{{title}}</p>
           
            <button  class="btn btn-danger float-right" ((click)="deleteBook(id)") >
                    ลบหนังสือ
            </button>

            <hr><br><br>
          
         

            <div class="container1">
                <form action="#">
                  <div class="row">
                    <div class="col-25">
                        ชื่อหนังสือ <span>*</span> : 
                    </div>
                    <div class="col-75">
                      <input type="text" id="name" name="name" >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                        ชื่อผู้แต่ง <span>*</span> :
                    </div>
                    <div class="col-75">
                      <input type="text" id="author" name="author" >
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-25">
                          ราคา <span>*</span> : 
                      </div>
                      <div class="col-75">
                        <input type="text" id="price" name="price" >
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-25">
                          แนะนำ <span>*</span> : 
                        </div>
                        <div class="col-75">
                          <input type="text" id="is_recommended" name="is_recommended" >
                        </div>
                      </div>
             
                  <div class="row">
                    <input type="submit" value="บันทึก">
                    <input type="reset" value="ล้าง">
                  </div>
                </form>
              </div>

          </div>
        </div>
      </div>